
.bundle
.vs
packages
bin
obj
.DS_Store

*.suo
*.user
*.dotCover
Foq*.fsx
*.userprefs
*.log.txt
*.csproj.user
*.cache
*.g.cs
*~
*.swp
*.bak
*.orig
*.exe.pid

src/SolutionVersion.cs
src/SolutionVersion.fs
*.settings
*.vspx
*.psess

storm-local

tools/paket/paket.exe
tools/rabbitmqadmin.py
run
db/generated
typings
*.map
node_modules
minion*.pem
minion*.pub

public
server_out
client_out